pandas~=0.25.3
matplotlib~=2.2.2
python-socketio==4.6.1
fxcmpy~=1.2.6
pyti
boto3
twilio~=6.51.1

gym~=0.18.0
numpy~=1.19.5
optuna~=2.4.0
scipy~=1.5.4
dropbox~=11.1.0
setuptools~=51.1.2
d3rlpy~=0.51
h5py~=3.1.0
torch~=1.7.1+cu101
typing~=3.6.4
requests~=2.25.1
pytest~=3.5.1
scikit-learn~=0.24.0
tensorboard~=2.4.0
sqlalchemy~=1.2.7
psutil~=5.4.5
oandapyv20~=0.6.3